/* BAISC SETUP */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}

body{
    font-size: $m-size; //16px = 1.6rem
    color: #333 !important;
    font-family: Lato,Helvetica,Arial, sans-serif  !important;
    font-weight: 300  !important;
}


h1,h2,h3,p{
    margin: 0;
}

a:link,a:hover,a:visited,a:active{
    font-size: $m-size;
    text-decoration: none;
}
 
/* tyle for all sections expect Header */
.sections{
    padding:$xl-size 0;
}
.sections-h1{
    display: inline-block;
    margin-bottom: $l-size;
}

.dark-background{
    background-color: lighten(rgb(215, 215, 223),2%);
}